@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');
div.section {
    position: relative;
}
.section .mobile-video-image, div.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.vc_custom_1505482930134 {
    padding-top: 0px !important;
    padding-bottom: 35px !important;
}
.vc_custom_1505482930134 {
    /* padding-top: 60px !important; */
    padding-bottom: 35px !important;
}
.vc_row {
    margin-left: -15px;
    margin-right: -15px;
}
.last_toggle_el_margin, .wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0!important;
}

.section_inner_margin {
    margin-left: -15px;
    margin-right: -15px;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
    background: 0 0;
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    outline: 0;
}

.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 1200px){
.vc_col-lg-6 {
    width: 50%;
}
}

@media (min-width: 1200px){
.vc_col-lg-1, .vc_col-lg-10, .vc_col-lg-11, .vc_col-lg-12, .vc_col-lg-2, .vc_col-lg-3, .vc_col-lg-4, .vc_col-lg-5, .vc_col-lg-6, .vc_col-lg-7, .vc_col-lg-8, .vc_col-lg-9 {
    float: left;
}
}

@media only screen and (min-width: 1400px){
.qode_grid_1300 .carousel-inner .slider_content_outer, .qode_grid_1300 .container_inner, .qode_grid_1300 .container_inner nav.content_menu, .qode_grid_1300 .footer_bottom_border.in_grid, .qode_grid_1300 .footer_top_border.in_grid, .qode_grid_1300 .full_width .parallax_content, .qode_grid_1300 .grid_section .section_inner, .qode_grid_1300 .title_border_in_grid_holder, .qode_grid_1300 nav.content_menu ul, .qode_grid_1300.boxed .section .section_inner, .qode_grid_1300.boxed nav.content_menu.fixed {
    width: 1300px;
}
.boxed .section .section_inner, .grid_section .section_inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
    z-index: 20;
}
}



.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.vc_custom_1468931700478 {
    padding-right: 7% !important;
    padding-left: 7% !important;
}
.vc_custom_1468931700478 {
    padding-right: 7% !important;
    padding-left: 7% !important;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 35px;
}

.last_toggle_el_margin, .wpb_button, .wpb_content_element, .wpb_row, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 0!important;
}

input#dhvc_form_control_correo, input#dhvc_form_control_nombre, textarea#dhvc_form_control_mensaje {
    letter-spacing: 0px;
    font-size: 14px;
    font-family:  'Open Sans', sans-serif;
    line-height: 1.4;
}

.dhvc-form-input, .dhvc-form-select, .dhvc-form-file, .dhvc-form-textarea {
    position: relative;
}
.dhvc-form-container * {
    line-height: 1.42857;
}
.dhvc-form-container *, .dhvc-form-container *:before, .dhvc-form-container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.vc_column_container {
    padding-left: 0;
    padding-right: 0;
}


.vc_column_container>.vc_column-inner {
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}
.dhvc-form-container .wpb_row {
    margin-bottom: 15px;
}
div.section {
    position: relative;
}
.section .mobile-video-image, div.section {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dhvc-form-message {
    padding: 10px 0;
}
.dhvc-form-inner {
    margin-bottom: 15px;
}
input input, .dhvc-form-flat .dhvc-form-file input[type=text], .dhvc-form-flat .dhvc-form-captcha input, .dhvc-form-flat .dhvc-form-select select, .dhvc-form-flat .dhvc-form-textarea textarea, .dhvc-form-flat .dhvc-form-radio i, .dhvc-form-flat .dhvc-form-checkbox i {
    border-color: #e5e5e5;
    transition: border-color 0.3s ease 0s;
    -moz-transition: border-color 0.3s ease 0s;
    -webkit-transition: border-color 0.3s ease 0s;
}

.dhvc-form-flat .dhvc-form-input input, .dhvc-form-flat .dhvc-form-file input[type=text], .dhvc-form-flat .dhvc-form-captcha input, .dhvc-form-flat .dhvc-form-select select, .dhvc-form-flat .dhvc-form-textarea textarea {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none repeat scroll 0 0 #fff;
    border-radius: 0;
    border-style: solid;
    border-width: 2px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    color: #404040;
    display: block;
    height: 40px;
    outline: none;
    width: 100%;
}
.dhvc-form-group .dhvc-form-control {
    background-color: rgb(255, 255, 255);
    background-image: none;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    border-radius: 0;
    margin: 0;
}
.dhvc-form-container * {
    line-height: 1.42857;
}
.dhvc-form-container *, .dhvc-form-container *:before, .dhvc-form-container *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.dhvc-form-group textarea.dhvc-form-control {
    height: auto;
    min-height: 150px;
}
.dhvc-form-submit, .dhvc-form-submit:hover, .dhvc-form-submit:active, .dhvc-form-submit:focus {
    background: #FF5033;
}

.dhvc-form-submit, .dhvc-form-submit:hover, .dhvc-form-submit:active, .dhvc-form-submit:focus {
    background: #FF5033;
}
.dhvc-form-submit, .dhvc-form-submit:hover, .dhvc-form-submit:active, .dhvc-form-submit:focus {
    position: relative;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    height: 39px;
    margin: 0;
    outline: medium none;
    overflow: hidden;
    padding: 0 25px;
    text-decoration: none;
    background: #222;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    font-weight: 700;
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 0.8;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}